---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <a href="/">Home</a>
  <a href="/about/">About</a>
  <a href="/about/">Blog</a>
  <a href="/posts/post-1">post-1</a>
  <a href="/posts/post-2">post-2</a>
  <a href="/posts/post-3">post-3</a>
  <h1>My Astro Site</h1>
  <h1>About Me</h1>
  <h2>... and my new Astro site!</h2>
  <p>
    I am working through Astro's introductory tutorial. This is the second page
    on my website, and it's the first one I built myself!
  </p>
  <p>
    This site will update as I complete more of the tutorial, so keep checking
    back and see how my journey is going!
  </p>
</Layout>
