---
import LandingPage from "@layouts/landing-page.astro";
import { Image } from "@astrojs/image/components";
---

<LandingPage title="Landing Page">
  <div
    class="flex flex-col gap-4 rounded-2xl bg-slate-200 p-4 dark:bg-slate-800 sm:flex-row sm:p-8"
  >
    <div class="flex flex-shrink-0 flex-grow-0 justify-center rounded-full">
      <div>
        <Image
          alt="Profile"
          width={150}
          format={"jpeg"}
          class="rounded-full border-4 border-kohan-300 w-24 h-24 md:w-32 md:h-32"
          height={150}
          src="/assets/profile-pic.jpg"
        />
      </div>
    </div>
    <div class="flex flex-col gap-1">
      <h1 class="text-3xl font-bold text-slate-900 dark:text-kohan-300">
        About me
      </h1>
      <p>
        Hi my name is <span class="font-bold text-slate-900 dark:text-kohan-300"
          >Piotr Kochanowski</span
        > and i'm a passionate Web developer from Poland. In love with TypeScript
        and static types. Currently working as a Frontend developer at <span
          class="font-bold text-slate-900 dark:text-kohan-300">VirtusLab</span
        >.
      </p>
    </div>
  </div>
</LandingPage>
