---
---

<footer
  class="flex flex-col items-center gap-2 border-t-2 border-kohan-800 py-2 text-sm text-kohan-800 sm:flex-row sm:justify-between"
>
  <div>© 2023 by Piotr Kochanowski. All rights reserved.</div>
  <div class="text-sm text-kohan-800">
    See this page source code at <a
      href="https://github.com/TheKohan/kohan-astro-blog"
      target="_blank"
      class="text-kohan-400 hover:text-kohan-500">Github</a
    >
  </div>
</footer>
