---
import Header from "@components/header.astro";
import Footer from "@components/footer.astro";
import "../styles/global.css";
import CommonSeo from "@components/common-seo.astro";
import Seo from "@components/seo.astro";
import { Frontmatter } from "@models/index";
import { Icon } from "astro-icon";
import { DateTime } from "luxon";
import CldImage from "@components/cld-image.astro";

export interface Props {
  frontmatter: Frontmatter;
}

const { frontmatter } = Astro.props;
---

<html lang="en">
  <head>
    <CommonSeo />
    <Seo type="article" frontmatter={frontmatter} />
    <script>
      const html = document.documentElement;
      const theme = (() => {
        if (
          typeof localStorage !== "undefined" &&
          localStorage.getItem("theme")
        ) {
          return localStorage.getItem("theme");
        }
        if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
          return "dark";
        }
        return "light";
      })();
      if (theme === "light") {
        html.classList.remove("dark");
        html.classList.add("light");
      } else {
        html.classList.add("dark");
        html.classList.remove("light");
      }
    </script>
  </head>
  <body>
    <body>
      <div class="mx-auto max-w-4xl px-4 md:px-6">
        <Header />
      </div>
      <main class="mx-auto max-w-4xl px-4 md:px-6">
        <div class="h-64 w-full overflow-hidden rounded-xl shadow-md">
          <CldImage
            alt={frontmatter?.image?.alt ?? "Blog post image"}
            width={848}
            class="h-full w-full object-cover"
            src={frontmatter?.image?.src ?? "/logo_placeholder.png"}
          />
        </div>
        <article class="markdown">
          <div class="w-full">
            <h1>{frontmatter.title}</h1>
            <div
              class="flex gap-4 rounded-md bg-elevation p-4 text-sm shadow-md"
            >
              <div>
                <div class="flex items-center gap-2">
                  <CldImage
                    alt="Profile"
                    width={50}
                    class="h-8 w-8 rounded-full border-2 border-kohan-800 dark:border-kohan-500"
                    height={50}
                    src="kohan-avatar"
                  />
                  <div>
                    By <span
                      class="font-bold text-kohan-800 dark:text-kohan-500"
                      >{frontmatter.author}</span
                    >
                  </div>
                </div>
              </div>
              <div class="flex flex-row items-center gap-2">
                <Icon
                  class="h-6 w-6 shrink-0 text-kohan-800 dark:text-kohan-500"
                  name="calendar"
                />
                <div>
                  {
                    DateTime.fromJSDate(frontmatter.publishDate).toFormat(
                      "MMM dd, yyyy"
                    )
                  }
                </div>
              </div>
              <div class="flex items-center">
                {frontmatter.minutesRead}
              </div>
            </div>
          </div>

          <slot />
        </article>
      </main>
      <div class="mx-auto max-w-4xl px-4 md:px-6">
        <Footer />
      </div>
    </body>
    <script>
      const styleInlineCodeElements = () => {
        const codeElements = Array.from(
          document.querySelectorAll("code")
        ).filter((codeElement) => codeElement.parentNode?.nodeName !== "PRE");
        codeElements.forEach((codeElement) => {
          const codeWrapper = document.createElement("div");
          codeWrapper.classList.add("code-wrapper");
          codeElement.parentNode?.insertBefore(codeWrapper, codeElement);
          codeWrapper.appendChild(codeElement);
        });
      };
      styleInlineCodeElements();
    </script>
    <style is:global>
      html {
        font-family: system-ui, sans-serif;
      }
      code {
        font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
          DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
      }
    </style>
  </body>
</html>
